/* styles.css */
@media (max-width: 640px) {
    .video::-webkit-media-controls {
      display: none !important;
    }
  
    .video::-moz-media-controls {
      display: none !important;
    }
  
    .video::-ms-media-controls {
      display: none !important;
    }
  
    .video::-o-media-controls {
      display: none !important;
    }
  
    .video::media-controls {
      display: none !important;
    }
  }